@using MudBlazor
@using Xyaneon.Bioinformatics.FASTA
@using Xyaneon.Bioinformatics.FASTA.IO
@using ShannonEntropyCal
@using System.Diagnostics
@page "/entropy"
<h3>EntropyControl</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="OnLoadFiles" > LoadFiles</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="OnShow" > Show Loading result</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="OnCalculate" > Calculate</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="async ()=>await OnGeneratePlot()" > Generate plot</MudButton>
<MudTextField @bind-Value="PythonScriptPath" Label="Python script" Variant="Variant.Text"></MudTextField>
<MudTextField @bind-Value="FilePath" Label="File path" Variant="Variant.Text"></MudTextField>


    <p>Sequences:</p>
    @foreach (var sequence in _fastaReader.Sequences)
    {
        @if (_show)
        {
            @foreach (var headeritem in sequence.Header.Items)
            {
                <p> @headeritem.ToString()</p>

            }
        
        }
    }    

@if (PlotGenerating)
{
    @if (!PlotGenerated)
    {
        <MudProgressCircular Color="Color.Default" Indeterminate="true"/>
    }
    else
    {
        <img src="PythonScripts\Charts\seq.shannon.jpg" alt="chart">   
    }

}
@if (_show)
{
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="_index" XAxisLabels="@XAxisLabels" Width="100%" Height="100%"></MudChart>
}
@code {

    private int _index = -1; //default value cannot be 0 -> first selectedindex is 0.
    private FastaReader _fastaReader = new FastaReader();
    private int _subsequenceLength = 18;
    private bool _show = false;
    public string[] XAxisLabels = new string[]{};
    public List<ChartSeries> Series = new List<ChartSeries>();
    public string PythonScriptPath { get; set; } = "\"G:\\Licek\\Analyzing-Shannon-Entropy\\Shannon\\Shannon\\wwwroot\\PythonScripts\\Charts\\SeqEntropy.py\"";
    public string FilePath { get; set; } = "\"G:\\Licek\\Analyzing-Shannon-Entropy\\Shannon\\Shannon\\wwwroot\\PythonScripts\\Charts\\seq.shannon\"";
    public string SourceChart { get; set; } = "\"G:\\Licek\\Analyzing-Shannon-Entropy\\Shannon\\Shannon\\wwwroot\\PythonScripts\\Charts\\seq.shannon.jpg\"";

    public bool PlotGenerating { get; set; }
    public bool PlotGenerated { get; set; }

    private async Task GeneratingPlot()
    {
        string cmd = @"C:\Python39\python.exe";
     
        string tmp =Environment.CurrentDirectory;
        
        ProcessStartInfo start = new ProcessStartInfo();
        start.FileName = cmd;
        start.Arguments = string.Format("{0} {1}", PythonScriptPath, FilePath);
        start.UseShellExecute = false;
        start.RedirectStandardOutput = true;
        using(Process process = Process.Start(start))
        {
            using(StreamReader reader = process.StandardOutput)
            {
                string result = reader.ReadToEnd();
                Console.Write(result);
            }
        }
        PlotGenerated = true;
        await InvokeAsync(StateHasChanged);
    }
    private async Task OnGeneratePlot()
    {
        PlotGenerating = true;
        await Task.Run(GeneratingPlot);
    }
    private void OnCalculate()
    {
        foreach (var sequence in _fastaReader.Sequences)
        {
            string seq = sequence.Data.ToMultilineString();
            EntropyCal ent = new EntropyCal();
            SequenceEntropy seqentEntropy = new SequenceEntropy();

            for (int index = 0; index < seq.Length; index++)
            {
                if ((_subsequenceLength + index) < seq.Length)
                {
                    var substr = seq.Substring(index, _subsequenceLength);

                    seqentEntropy.Score.Add(ent.EntropyValue(substr));
                }
            }
            _fastaReader.EntropySequences.Add(seqentEntropy);
        }


        foreach (var sequence in _fastaReader.Sequences)
        {
            foreach (var headeritem in sequence.Header.Items)
            {
                Series.Add(new ChartSeries(){Name =   headeritem.ToString()});
            }
        }
        foreach (var chart in Series)
        {
            foreach (var seq in _fastaReader.EntropySequences)
            {
                chart.Data = seq.Score.ToArray();
            }
        }
        List<string> tmp =new List<string>();
        for (int i = 0; i < _fastaReader.EntropySequences[0].Score.Count; i++)
        {
           
            tmp.Add(i.ToString());
           
        }
        XAxisLabels = tmp.ToArray();
        _show = true;
        StateHasChanged();
    }
        private void OnShow()
    {
        if (_show)
        {
            _show = false;
        }
        else
        {
            _show = true;
        }
    }
    private void OnLoadFiles()
    {
        _fastaReader.ReadFile("Alingments/sequence.fasta");
        StateHasChanged();
    }

    public void DisplayInConsole(object obj)
    {
        Type objtype = obj.GetType();
        var properties = objtype.GetProperties();

        foreach (var property in properties)
        {
            var propValue = property.GetValue(obj);
            var propType = propValue.GetType();

            if (propType.IsPrimitive || propType == typeof(string))
            {
                Console.WriteLine($"{property.Name} : {propValue}");
            }
        }
    }
}
